<a href="https://colab.research.google.com/github/heenamandalgithub/Python-Practice-Program/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.DataFrame({'X':[1,2,3,4,5],'Y':[6,7,8,9,10],'Z':[11,12,13,14,15]})
print(df)

   X   Y   Z
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [ ]:
import pandas as pd
s=pd.Series([1,3,5,7,9])
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [ ]:
import pandas as pd
series1=pd.Series([5,6,7,8])
print(series1)

0    5
1    6
2    7
3    8
dtype: int64

In [ ]:
import pandas as pd
import sys
sys.__stdout__=sys.stdout
series1=pd.Series([5,6,7,8])
print(series1)

0    5
1    6
2    7
3    8
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
import sys
sys.__stdout__=sys.stdout
fruits=np.array(['fig','orange','mango','banana'])
series1=pd.Series(fruits)
print(series1)

0       fig
1    orange
2     mango
3    banana
dtype: object

In [ ]:
import pandas as pd
df=pd.DataFrame({
    "Column 1":[6,7,8,9,10],
    "Column 2":['a','col','with','a','string'],
    "Column 3":[123,235,456,32.123,89.453],
    "Column 4":[True,False,True,False,True]
})
print(df)

   Column 1 Column 2  Column 3  Column 4
0         6        a   123.000      True
1         7      col   235.000     False
2         8     with   456.000      True
3         9        a    32.123     False
4        10   string    89.453      True

In [ ]:
import pandas as pd
mylist=[34,45,55,65,78]
df=pd.DataFrame(mylist)
print(df)

    0
0  34
1  45
2  55
3  65
4  78

In [ ]:
import pandas as pd
items=[['Phone',15000],['TV',10000],['Radio',2000]]
df=pd.DataFrame(items,columns=['item','Price'],dtype=float)
print(df)

    item    Price
0  Phone  15000.0
1     TV  10000.0
2  Radio   2000.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)